@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Sans", system-ui, sans-serif;
  }

  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-2.5 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-lg 
           transition-colors duration-200 inline-flex items-center justify-center gap-2;
  }

  .btn-secondary {
    @apply px-6 py-2.5 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-lg 
           transition-colors duration-200 inline-flex items-center justify-center gap-2;
  }

  .card {
    @apply bg-white dark:bg-gray-800 rounded-xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-200;
  }

  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-16 lg:py-20;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600;
  }
}

.page-transition {
  @apply transition-opacity duration-300;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
}
